[Unit]
Description=Sched Service Status Checker Routine

[Service]
User=automation_user
Group=builders
ExecStart=/usr/local/bin/schedServerStatus
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=<schedServerStatus> 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target